<footer class="footer">
  <div class="content has-text-centered">
    <div>Извините больше ничем не хочу Вам помочь!!</div>
    <p>
      <strong>Elbrus team</strong> by <a href="https://elbrusbootcamp.ru">Какие у тебя права?</a>. Все документы имеются
        <a href=" http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
<script>
  new Typewriter('#typewriter', {
    strings: ['Красота', 'спасет', 'мир', 'и нас)'],
    autoStart: true,
    loop: true,
  });
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    once: true
  });
</script>
<script type="text/javascript" src="//w464994.yclients.com/widgetJS" charset="UTF-8"></script>
</body>

</html>
