<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="logo-string" class="navbar-item" href="/"> ELBreauty
      {{!-- <img src="/img/logo2.png" width="" height="">  --}}
    </a>
  </div>

  <div class="navbar-menu">

    <div class="navbar-end">
      <a class="navbar-item">
        О КОМАНИИ
      </a>

      <a class="navbar-item" href="/masters">
        НАШИ МАСТЕРА
      </a>

      <a class="navbar-item">
        УСЛУГИ И ЦЕНЫ
      </a>

      <a class="navbar-item">
        КОНТАКТЫ
      </a>
      {{#if username}}
      Hello, {{username}}
      <div class="buttons">
        <a class="button is-primary" href="/logout">
          <strong>Log Out</strong>
        </a>
      </div>
      {{else}}
      <div class="buttons">
        <a class="button is-primary" href="/reg">
          <strong>REG</strong>
        </a>
        <a class="button is-light" href="/login">
          LOGIN
        </a>
      </div>
      {{/if}}
    </div>

  </div>
  </div>
</nav>
