<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="logo-string" class="navbar-item" href="/"> ELBreauty
      {{!-- <img src="/img/logo2.png" width="" height=""> --}}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Главная
			</a>
			<a class="navbar-item" href="/masters">
				Наши мастера
			</a>

			<a class="navbar-item" href="/services">
				Все услуги
			</a>

			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					Больше
				</a>

				<div class="navbar-dropdown">
					<a class="navbar-item" href="/#about">
						 О нас 
					</a>
					<a class="navbar-item" href="/contacts">
						Контакты
					</a>
					<hr class="navbar-divider" href="/contacts">
					<a class="navbar-item">
						Напишите нам
					</a>
				</div>
        </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{#if username}}
					<div class="navbar-item">
       			<h3 id="helloUser"> Привет, <strong>{{username}} </strong> </h3>
					</div>
        <div class="buttons">
					<a href="#" class="ms_booking button is-danger">Онлайн-запись</a>
          <a class="button is-primary" href="/logout">
            <strong>Log Out</strong>
          </a>
        </div>
        {{else}}
        <div class="buttons">

					<a href="#" class="ms_booking button is-danger">Онлайн-запись</a>
          <a class="button is-primary" href="/reg">
            <strong>Зарегистрироваться</strong>
          </a>
          <a class="button is-light" href="/login">
            Войти
          </a>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
