<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-two-thirds has-text-left">
          <h1 class="title is-1">Contact Us</h1>
          <ul>
            <li><strong>Адрес:</strong> Қабанбай батыр проспект, 2
              Шубар м-н, Есиль район, Нур-Султан</li>
            <li><strong>Телефон:</strong> +7‒707‒588‒13‒88</li>
            <hr>
            <li><strong>График работы:</strong> ежедневно с 09:00 до 20:00</li>
            <li></li>
          </ul>
          <p class="is-size-4">
          </p>
          <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i
                class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/shev_hairbar/" target="_blank" class="button is-light is-large"><i
                class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://wa.me/77075881388" target="_blank" class="button is-light is-large"><i
                class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="column is-one-third has-text-left">

          <form id="contactForm" class="field" action="">
            <label class="label">Имя</label>
            <input id="nameInput" name="fullName" class="input is-medium" type="text" placeholder="Ivan Ivanov" required>
            <label class="label">Email</label>
            <input id="emailInput" name="email" class="input is-medium" type="email" placeholder="youremail@ya.ru" required>
            <label class="label">Номер телефона</label>
            <input id="telInput" name="tel" class="input is-medium" type="tel" placeholder="+7(911) 777-77-77" required>
            <label class="label">Сообщение</label>
            <textarea id="messageFromUser" name="messageFromUser" id="textInput" class="textarea is-medium"
              placeholder="Ваше сообщение" value=" " required></textarea>
            <button id="contactButton" type="submit"
              class="button is-link is-fullwidth has-text-weight-medium is-medium">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" charset="utf-8" async
  src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac97fdfe9fad482f3f63616e143aa1c87ab7a16937d1fa982498e6cd09a404ff5&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<script defer src="/js/client.js"
