{{!-- <div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Новое слово в мире красоты и стиля.
    </h1>
    <h2 class="subtitle">
      Наш салон самый лучший салон. Не согласен уходи с нашего сайта.
      Наш салон самый лучший салон. Не согласен уходи с нашего сайта.
    </h2>
  </div>
</div> --}}

<!-- Hero del producto -->
{{!-- <section class="hero is-medium">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle">
        КРАСОТА СПАСЕТ МИР ... когда-нибудь
      </h2>
    </div>
  </div>
</section>
_____________________ --}}
<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns  is-vcentered reverse-columns">
        <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd" data-aos="fade-down">
          <h1 class="title titled is-1 mb-6">
            Немного о ELBreauty:
          </h1>
          <h2 class=" subtitled subtitle has-text-grey is-4 has-text-weight-normal is-family-sans-serif">
            Кроме того что мы молодцы нам больше нечего сказать
          </h2>
          <h2 class=" subtitled subtitle has-text-grey is-4 has-text-weight-normal is-family-sans-serif">
            ниже подробности
          </h2>
          <div class="buttons">
        		<a href="/contacts" class="button is-primary">Контакты</a>
						<a href="#" class="ms_booking button is-danger">Онлайн-запись</a>
          </div>
        </div>
        <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
          <figure class="image is-square">
            <img
              src="https://wallbox.ru/resize/1024x1024/wallpapers/main2/201718/14937968785909880e0e6089.37899962.jpg">
          </figure>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns  is-vcentered">
        <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
          <figure class="image is-square">
            <img src="https://img3.goodfon.ru/original/2048x2048/e/6f/devushka-model-stil-fashion.jpg">
          </figure>
        </div>
        <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
          <h1 class="titled title is-1 mb-6">
            Весь спектр услуг
          </h1>
          <h2 class="subtitled subtitle">
            Ознакомьтесь с ними подробнее по ссылке ниже
          </h2>
					<div class="buttons">
            <a href="/services" class="button is-primary">Все услуги</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero is-white is-fullheight" id="masters">
  <div class="hero-body">
    <div class="container">
      <div class="columns  is-vcentered reverse-columns">
        <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
          <h1 class="title titled is-1 mb-6">
            Лучшие мастера
          </h1>
          <h2 class="subtitle subtitled">
            Регулярно обучаются в Париже и Милане.
          </h2>
					<div class="buttons">
            <a href="/masters" class="button is-primary">Все мастера</a>
          </div>
        </div>
        <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
          <figure class="image is-square">
            <img
              src="https://img4.goodfon.ru/original/2048x2048/1/7a/devushka-pricheska-venok-rozy-makiiazh-vzgliad-plechi.jpg">
          </figure>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero is-medium has-text-centered" id="about">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div data-aos="zoom-in-up" class="column is-8">
          <h1 class="title titled is-1 mb-6">
            Салон красоты "ElBreauty" спасет <span id="typewriter"></span>
          </h1>
          <h2 class="subtitle subtitled">
            Тем более, востребованными являются такие центры, как ElBreauty, который на протяжении многих лет не только
            не теряет своей популярности, но и приобретает новых клиентов и друзей.
          </h2>
        </div>
      </div>

    </div>
  </div>
</section>
