<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Новое слово в мире красоты и стиля.
    </h1>
    <h2 class="subtitle">
     Наш салон самый лучший салон. Не согласен уходи с нашего сайта.
     Наш салон самый лучший салон. Не согласен уходи с нашего сайта.
    </h2>
  </div>
</div>
