body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#logo-string {
 font-size: 46px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: bold;
}
#helloUser {
  margin-right: 10px;
}
#formHeader {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
